<% provide(:title, 'All teams') %>
<h1>All Teams</h1>

<%= will_paginate %>
<ul class="list-wrap">
  <% @teams.each do |team| %>
    <li>
      <%= image_tag(team.creator.get_avatar, alt: team.creator.fullname, class: 'list-item-avatar') %>
      <div class="list-item-info"><b><%= link_to team.name, team %></b>
      <br/><i>created by: <%= link_to team.creator.fullname, team.creator %></i></div>
    </li>
  <% end %>
</ul>
<%= will_paginate %>